[[source]]
url = "${KRUX_PIP_FOSS_URL}"
verify_ssl = true
name = "kruxfoss"

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
mock = "==3.0.5"
nose = "==1.3.7"

[packages]
krux-stdlib = {version="==4.0.1", index="kruxfoss"}
krux-boto = {version="==1.7.4", index="kruxfoss"}
decorator = {version="==4.4.1"}
six = {version="*"}
